.inputContainer{
    background-color: black !important;
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 22rem;
    height: 7rem;
    border-radius: 8px ;
}

.inputContainer span {
    background-color: black !important;
    font-family: "Open Sans";
    font-size: 18px;
    border-radius: 8px ;
    margin-left: 10px;
}

.inputs{
    background-color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.inputs img {
    background-color: transparent !important;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 14px;
    margin-right: 10px;
    cursor: auto;
}

.defaultInput {
    background-color: #1F1F23  !important;
    width: 17.5rem;
    height: 100%;
    position: relative;
    border: none !important;
}

.publicInput {
    background-color: #1F1F23  !important;
    outline: none !important;
    border: none !important;
    width: 17.5rem;
}

.deleteBtn{
    background-color: transparent !important;
    position: absolute;
    transform: translate(21rem, -12px);
    cursor: pointer;
}