.folder {
    background-color: #171923;
    display: flex;
    width: fit-content;
    height: 70%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #171923;
    padding: 0.5rem 1rem;
    margin: 12px 8px;
    cursor: pointer;
}
.folder span{
    background-color: transparent !important;
    width: fit-content;
    font-family: "Open Sans";
    padding-right: 8px;
    font-size: 16px;
}

.folder button, img {
    background-color: transparent !important;
    border: none;
    padding: 2px 0px 0px 0px;
    margin: 0;
    width: fit-content;
    cursor: pointer;
}