.wrapperContainer {
    background-color: #171923;
    color: white;
    height: 100vh;
}


.previewSection {
    background-color: #171923;
    display: flex;
    align-items: center;
    width: 100%;
}


.headingSection {
    background-color: #171923;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    width: 50rem;
}

.headingSection h1 {
    font-family: 'Outfit';
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    background-image: linear-gradient(#4B83FF, #B794F4);
    color: transparent;
    background-clip: text;
}

.headingSection p{
    background-color: #171923;
    font-family: 'Open Sans';
    font-size: 1rem;
    text-align: center;
    padding: 2rem 3rem;
}

.headingSection button {
    width: 16rem;
    font-family: 'Open Sans';
    border: 2px solid #1A5FFF;
    border-radius: 8px;
    background-color: #1A5FFF;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 15px;
}

