.wrapperContainer {
    background-color: #171923;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
}

.navLinks img {
    margin: 0rem 8rem;
}

.navLinks div {
    margin: 0rem 8rem;
}

.navLinks button {
    background-color: #1A5FFF;
    cursor: pointer;
    padding: 12px;
    width: 10rem;
    margin: 5px;
}


.previewSection {
    display: flex;
    align-items: center;
    width: 100%;
}


.headingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    width: 50rem;
}

.headingSection h1 {
    font-family: 'Outfit';
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    background-image: linear-gradient(#4B83FF, #B794F4);
    color: transparent;
    background-clip: text;
}

.headingSection p{
    font-family: 'Open Sans';
    font-size: 1rem;
    text-align: center;
    padding: 2rem 3rem;
}

.headingSection button {
    width: 16rem;
    font-family: 'Open Sans';
    border: 2px solid #1A5FFF;
    background-color: #1A5FFF;
    cursor: pointer;
    font-size: 1rem;
}

