.wrapperContainer {
    background-color: #171923;
    color: white;
    min-height: 100vh;
    position: relative;
}

/* .wrapperContainer img {
    cursor: auto;
} 
    depends on the requirement
*/  


.previewSection {
    background-color: #171923;
    display: flex;
    align-items: center;
    width: 100%;
}

.previewSection img {
    display: absolute;
    z-index: 100;
}


.headingSection {
    background-color: #171923;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    width: 50rem;
}

.headingSection h1 {
    font-family: 'Outfit';
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    background-image: linear-gradient(#4B83FF, #B794F4);
    color: transparent;
    background-clip: text;
}

.headingSection p {
    background-color: #171923;
    font-family: 'Open Sans';
    font-size: 1rem;
    text-align: center;
    padding: 2rem 3rem;
}

.headingSection button {
    width: 16rem;
    font-family: 'Open Sans';
    border: 2px solid #1A5FFF;
    border-radius: 8px;
    background-color: #1A5FFF;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 15px;
}

.flowDiagramImage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    z-index: 150;
}


.oldWaysContainer {
    padding: 10rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.oldWaysContainer h1 {
    font-family: "Outfit";
    font-size: 3rem;
    text-align: center;
}

.oldWaysContainer p {
    padding: 2rem 0rem;
    font-family: "Outfit";
    font-size: 1rem;
    text-align: center;
    color: #A0AEC0 !important;
}


.differentImgContainer {
    display: flex;
    position: relative;
    margin-top: 1rem;
    gap: 15px;
}


.oldTypeForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.newTypeForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tryOutImage {
    position: absolute;
    background-color: transparent !important;
    right: 0;
    top: 0;
    transform: translate(50px, -25px);
}

.blurEffect1 {
    position: absolute;
    background-color: #171923 !important;
    min-height: 100%;
    width: 10rem;
    left: 0;
    filter: blur(60px);
}

.blurEffect2 {
    position: absolute;
    background-color: #171923 !important;
    height: 100%;
    width: 10rem;
    right: 0;
    filter: blur(60px);
}

.aboutWorkWrapper1,
.aboutWorkWrapper2 {
    width: 100%;
    height: fit-content;
    padding: 2.5rem 15rem;
    display: flex;
    gap: 3rem;
}

.aboutWorkWrapper2 {
    padding-top: 10rem;
}

.aboutWork1 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.aboutWork1 h2 {
    font-family: "Outfit";
    font-size: 35px;
    letter-spacing: 2px;
}

.aboutWork1 p {
    color: #A0AEC0 !important;
    margin-top: 1.5rem;
    font-family: "Open Sans";
}

.toolsContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 0rem;
}

.toolsAbout {
    padding-top: 3rem;
    padding-right: 36rem;
}

.toolsContainer img {
    padding-top: 4rem;
}

.toolsAbout h2 {
    font-family: "Outfit";
    font-size: 35px;
    letter-spacing: 2px;
    padding-bottom: 1rem;
}

.toolsAbout p {
    color: #A0AEC0 !important;
    font-family: "Open Sans";
}

.resultContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0rem;
}

.resultAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.resultAbout h2 {
    font-family: "Outfit";
    font-size: 45px;
    letter-spacing: 2px;
    padding-bottom: 1.3rem;
}

.resultAbout p {
    color: #A0AEC0 !important;
    font-family: "Open Sans";
    text-align: center;
    padding-bottom: 4rem;
}

.resultAbout p span {
    font-weight: 500;
    background-color: transparent !important;
    color: #bacadf !important;
}

.featuresContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
}

.featuresHeading h2 {
    font-family: "Outfit";
    font-size: 35px;
    letter-spacing: 2px;
    padding-bottom: 1.3rem;
    text-align: center;
}

.featuresHeading p {
    color: #A0AEC0 !important;
    font-family: "Open Sans";
    text-align: center;
    padding-bottom: 4rem;
}

.features {
    background-color: transparent !important;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eachFeature {
    width: 24rem;
    height: 15rem;
    background-color: #1A202C !important;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-right: 2rem;
}

.eachFeature span {
    position: absolute;
    background-color: #1A5FFF !important;
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    transform: translate(0px, -7.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.eachFeature span img {
    width: 32px;
    height: 32px;
}

.eachFeature h3 {
    font-family: "Outfit";
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 8rem;
    text-align: center;
}

.eachFeature p {
    position: absolute;
    color: #A0AEC0 !important;
    font-family: "Open Sans";
    text-align: center;
    width: 85%;
}

.clientsContainer {
    padding-top: 6rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#171923, #1A202C);
    z-index: 100;
    padding-bottom: 6rem;
}

.clientsContainer h2 {
    font-family: "Outfit";
    font-size: 35px;
    letter-spacing: 1px;
    padding-bottom: 1.3rem;
    text-align: center;
}


.allClients {
    background-color: transparent !important;
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 100;
}

.allClients img {
    width: 18rem;
    height: 4.5rem;
    margin-top: 4rem;
    margin-right: 2rem;
}


.conclusionContainer {
    background: linear-gradient(#171923, #1A202C);
    height: 50rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.conclusionHeading {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 9rem;
}

.conclusionHeading h2 {
    font-family: "Outfit";
    font-size: 45px;
    letter-spacing: 1px;
    padding-bottom: 1.3rem;
    text-align: center;
    padding-bottom: 2rem;
}

.conclusionHeading p {
    color: #A0AEC0 !important;
    font-family: "Open Sans";
    text-align: center;
    padding-top: 2rem;
}


.conclusionHeading button {
    width: 16rem;
    font-family: 'Open Sans';
    border: 2px solid #1A5FFF;
    border-radius: 8px;
    background-color: #1A5FFF;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 15px;
}

.triangle1 {
    position: absolute;
    top: 8px;
    left: 15px;
}

.semiCircle1 {
    position: absolute;
    right: 5px;
}


.footerContainer {
    background-color: transparent !important;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eachFootItem {
    height: 15rem;
    width: 15rem;
    background-color: transparent !important;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.eachFootItem p {
    font-family: "Open Sans";
    font-size: 16px;
    background-color: transparent !important;
    padding-top: 1.5rem;
}

.eachFootItem p a {
    text-decoration: underline;
    text-decoration-color: #A0AEC0;
    color: #A0AEC0;
    cursor: pointer;
}

.eachFootItem span {
    font-family: "Open Sans";
    font-size: 16px;
    background-color: transparent !important;
    padding-top: 0.5rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #A0AEC0;
}

.eachFootItem img {
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
}