.submitFormWrapper {
    background-color: white;
    color: black !important;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.formData {
    background-color: transparent !important;
    display: flex;
    width: 70%;
    /* color: white !important; */
    flex-direction: column;
    font-family: "Open Sans";
    font-size: 18px;
    padding-top: 4rem;
}

.publicValues {
    background-color: transparent !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 1rem;
}

.systemValues {
    background-color: transparent !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 1rem;
}

.fieldImgContainer {
    background-color: rgb(239, 237, 233) !important;
    border-radius: 5px;
    padding: 1rem;
    width: 30rem;
    height: 20rem;
}

.fieldImgContainer img {
    width: 100% !important;
    height: 100% !important;
}

.fieldVideoContainer {
    background-color: rgb(239, 237, 233) !important;
    border-radius: 5px;
    padding: 1rem;
    width: 30rem;
    height: 20rem;
}

.fieldVideoContainer video {
    width: 100% !important;
    height: 100% !important;
}

.field1 {
    background-color: transparent !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 16px;
}

.field1 div {
    width: 14rem;
    padding: 0.55rem 0px;
    margin: 0px;
    border-radius: 5px;
    border: 1px solid #777777;
    padding-left: 1rem;
    color: white;
    background-color: #777777 !important;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.field1 span {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    margin: 0;
    padding: 2px 6px;
    margin-left: 1rem;
    background-color: #777777 !important;
}

.field1 span img {
    width: 2rem;
    height: 2rem;
    background-color: transparent !important;
}

.field2 {
    background-color: transparent !important;
    display: flex;
    align-items: start;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 16px;
    gap: 13px;
}

.field2 img {
    width: 3rem;
    height: 3rem;
}

.field2 span {
    background-color: rgb(239, 237, 233) !important;
    color: black;
    font-weight: 500;
    border-radius: 8px;
    padding: 0.5rem 1.2rem;
    margin: 0px;
    margin-top: 0.5rem;
}

.publishFormContainer {
    display: flex;
    width: 70%;
    /* color: white !important; */
    flex-direction: column;
    align-items: end;
    background-color: transparent !important;
}

.inputDetail {
    background-color: transparent !important;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputDetail label {
    font-family: "Open Sans";
    font-size: 16px;
}

.inputDetail input {
    width: 14rem;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-left: 1rem;
    color: black;
    background-color: white !important;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.inputDetail button {
    background-color: #1A5FFF !important;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    border: 2px solid #1A5FFF;
    padding: 2px 6px;
    margin-left: 1rem;
    cursor: pointer;
}

.inputDetail button img {
    width: 2rem;
    height: 2rem;
}

.dateInput {
    padding: 0rem 1rem !important;
}

.inputBtn {
    color: white !important;
    padding: 0.8rem 1.2rem !important;
    font-size: 16px;
}

.ratingInput {
    background-color: white !important;
    border-radius: 5px;
    width: 14rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.ratingInput div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px !important;
    height: 22px !important;
    background-color: #1A5FFF !important;
    color: white !important;
    position: relative;
    font-size: 14px;
    border-radius: 50%;
    border: none !important;
    cursor: pointer;
}

.ratingInput div.selectedRating {
    background-color: #FF8E21 !important;
}


.field1Btn {
    color: white !important;
    padding: 0.8rem 1.2rem !important;
    font-size: 16px;
    border-radius: 5px;
    background-color: #FF8E21 !important;
}

.field1Btn div {
    background-color: transparent !important;
}


.ratingDisplay {
    background-color: #777777 !important;
    border-radius: 5px;
    width: 14rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.ratingDisplay div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px !important;
    height: 22px !important;
    background-color: #1A5FFF !important;
    color: white !important;
    font-size: 14px;
    border-radius: 50%;
    border: none !important;
}

.ratingSend {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    margin: 0;
    padding: 2px 6px;
    background-color: #777777 !important;
}

.ratingSend img {
    width: 2rem !important;
    height: 2rem !important;
    background-color: transparent !important;
}

.ratingDisplay div.selectedRating {
    background-color: #FF8E21 !important;
}


.darkTheme {
    background-color: rgb(26, 29, 39) !important;
    color: white !important;
}

.tailTheme {
    background-color: #508C9B !important;
    color: white !important;
}

.lightTheme {
    background-color: white !important;
    color: black !important;
}


.darkTheme .systemValues .fieldVideoContainer {
    background-color: rgb(34, 39, 97) !important;
}

.darkTheme .systemValues .fieldImgContainer {
    background-color: rgb(34, 39, 97) !important;
}

.tailTheme .systemValues .fieldImgContainer {
    background-color: #085c76 !important;
}

.tailTheme .systemValues .fieldVideoContainer {
    background-color: #085c76 !important;
}

.tailTheme .ratingInput {
    background-color: rgb(239, 237, 233) !important;
}


.tailTheme .inputDetail input {
    background-color: rgb(239, 237, 233) !important;
}