.wrapperContainer1 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #171923 !important;
    color: white !important;
}

.arrowImg {
    position: absolute;
    left: 5rem;
    top: 3rem;
    cursor: pointer;
}

.triangleImg {
    position: absolute;
    left: 10rem;
    bottom: 9rem;
}

.ellipse1Img {
    position: absolute;
    left: 55rem;
    bottom: 0rem;
}

div {
    background-color: #171923 !important;
    color: white !important;
}

.ellipse2Img {
    position: absolute;
    bottom: 24rem;
    right: 0;
}

.formContainer {
    background-color: #171923 !important;
    color: white;
    height: 100vh;
    width: fit-content;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 14px;
}

.fieldsContainer {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.fieldsContainer input {
    background-color: #171923 !important;
    color: white !important;
    padding: 12px;
    margin-top: 0.5rem;
    border-radius: 12px;
    border: 2px solid #636364;
    width: 100%;
}

.fieldsContainer button {
    padding: 12px;
    margin-top: 0.5rem;
    border-radius: 12px;
    border: 2px solid #636364;
    width: 100%;
}


.fieldsContainer input:focus {
    outline: none !important;
    border: 2px solid #335094;
}

.fieldsContainer label {
    margin: 0px 5px;
}

.fieldsContainer p {
    padding: 8px 40px;
}

.fieldsContainer span {
    background-color: transparent !important;
    color: #335094;
    cursor: pointer;
}

.fieldsContainer button {
    border: 2px solid #1A5FFF;
    background-color: #1A5FFF;
    cursor: pointer;
    font-size: medium;
}

.usernameContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
}

.emailContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
}

.passwordContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
}

.confirmPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.8rem;
}

.usernameContainer p {
    padding: 2px 5px;
    font-size: 12px;
}

.emailContainer p {
    padding: 2px 5px;
    font-size: 12px;
}

.passwordContainer p {
    padding: 2px 5px;
    font-size: 12px;
}

.confirmPasswordContainer p {
    padding: 2px 5px;
    font-size: 12px;
}

.errorLabel {
    color: rgb(251, 74, 74);
}

.fieldsContainer .errorInput {
    border: 2px solid rgb(118, 33, 33);
}

.fieldsContainer .errorInput:focus {
    outline: none !important;
    border: 2px solid #636364;
}

.errorMessage {
    padding: 0;
    margin: 0;
    color: #522224 ;
}