.workspace {
    position: relative;
    height: 100vh;
    background-color: black !important;
    color: white !important;
    overflow-y: auto;
}

.partition {
    width: 100%;
    border: 1px solid #636364;
    position: absolute;
    top: 6.6rem;
}

.navContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: black;
    position: absolute;
}

.itemsWrapper {
    margin-top: 10rem;
    height: calc(100vh - 10rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black !important;
}

.folderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
    background-color: black !important;

}

.btn {
    background-color: #171923;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    width: 11rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
}

.btn img {
    background-color: transparent !important;
    padding-bottom: 0.2rem;
}

.btn span {
    background-color: transparent !important;
}

.folders {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 75rem;
    height: auto;
    background-color: black !important;
}

.selectedFolder {
    border-color: #487df7 !important;
}

.formContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 3rem;
    padding: 1rem 4rem;
    background-color: black !important;
}


.newForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 15rem;
    margin-top: 10px;
    background-color: #1A5FFF !important;
    border-radius: 5px;
    cursor: pointer;
}


.newForm img {
    background-color: #1A5FFF;
}

.newForm span {
    padding-top: 2rem;
    background-color: #1A5FFF !important;
}

.oldForms {
    background-color: black !important;
    display: flex;
    margin-left: 1rem;
    flex-wrap: wrap;
    width: 75rem;
}

.toastDivWorkspace {
    position: absolute;
    top: 3rem;
    right: 10rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    border: 2px solid #3D3D3F;
    animation: slideDown 0.5s ease-out forwards;
}

.toastDivWorkspace img {
    width: 32px;
    height: 32px;
}

.toastDivWorkspace span{
    background-color: transparent !important;
    font-family: "Open Sans";
    font-size: 16px;
}


@keyframes slideDown {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 3rem;
        opacity: 1;
    }
}