.navLinks {
    background-color: #171923;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    position: absolute;
    z-index: 9;
    width: 100%;
   
}

.navLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: transparent !important;
    cursor: auto;
}

.navLogo span{
    font-family: "Outfit";
    font-size: 18px;
    background-color: transparent !important;
    letter-spacing: 1px;
}

.navLinks div {
    background-color: #171923;
}

.navLinks div {
    margin: 0rem 10rem;
}


.btn1{
    cursor: pointer;
    padding: 12px;
    width: 10rem;
    margin: 5px;
    border: 2px solid #1A5FFF;
    color: white;
    background-color: #171923;
    border-radius: 8px;
    
}

.btn1:hover {
    background-color: #1A5FFF;
    color: white;
}

.btn2 {
    border: 2px solid #1A5FFF;
    background-color: #1A5FFF;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
    width: 10rem;
    margin: 5px;
}